<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.paradoxcat.infineon.radar"
      android:versionCode="1"
      android:versionName="1.0">

    <application android:label="Infineon Radar Service">
        <service android:name=".InfineonRadarService"
                 android:directBootAware="true"
                 android:exported="true" />
    </application>
</manifest>
